@import url("/fonts.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* because We can use color in tailwind so we should use @layer base */
@layer base {
  :root {
    --color-primaryM: 0, 53, 172;
    --background-app-rgb: 255, 255, 255;
    --color-primary-900: 74, 109, 255;
    --color-primary-800: 92, 124, 255;
    --color-primary-700: 110, 138, 255;
    --color-primary-600: 128, 153, 255;
    --color-primary-500: 156, 140, 187;
    --color-primary-400: 164, 182, 255;
    --color-primary-300: 179, 169, 204;
    --color-primary-200: 201, 211, 255;
    --color-primary-100: 219, 226, 255;
    --color-primary-50: 242, 240, 251;
    --color-secondary-900: 233, 220, 124;
    --color-secondary-800: 231, 220, 175;
    --color-secondary-700: 231, 218, 148;
    --color-secondary-600: 75, 85, 99;
    --color-secondary-500: 107, 114, 128;
    --color-secondary-400: 156, 163, 175;
    --color-secondary-300: 209, 213, 219;
    --color-secondary-200: 229, 231, 235;
    --color-secondary-100: 243, 244, 246;
    --color-secondary-50: 249, 250, 251;
    --color-secondary-0: 255, 255, 255;
    --color-success: 0, 192, 115;
    --color-warning: 255, 153, 0;
    --color-error: 255, 71, 87;
    --color-red-500: 239, 68, 68;
    --color-red-300: 252, 165, 165;

    --color-third-900: 227, 25, 99;
  }
}

@layer utilities {
  .placeholder-style::placeholder {
    text-align: left;
  }
}

@layer components {
  .textFiled__input {
    @apply py-2  px-4 text-sm m-1 border-b-2 
    shadow-sm bg-gray-50 border border-gray-300
     text-gray-900 rounded-lg focus:ring-primary-500
      focus:border-primary-500 text-[0.85rem] sm:text-[1rem] block w-full p-2
      focus:shadow-md focus:shadow-primary-200;
  }

  .btn {
    @apply transition-all duration-300 ease-out
    hover:bg-primary-800 
    text-white  text-sm 
    py-3 px-5  font-medium text-center  rounded-lg 
    bg-primary-700  focus:ring-4 focus:outline-none
     focus:ring-primary-300;
  }
  .btn--primary {
    @apply py-3 px-4  bg-primary-900 text-secondary-100 hover:bg-primary-800 shadow-lg shadow-primary-300;
  }
  .btn--secondary {
    @apply bg-secondary-500 text-secondary-100;
  }

  .extraTextFiled__input {
    @apply w-full px-2
        justify-center  text-gray-900 border-2
        bg-gray-50   transition-all duration-300 ease-out
        focus:shadow-lg focus:shadow-primary-200
        text-sm hover:shadow-md  rounded-lg shadow-sm
        border-solid border-gray-300
        focus:ring-primary-500 focus:border-primary-500
         sm:text-[0.85rem];
  }
  .selectOption__input {
    @apply bg-gray-50  m-1  w-full py-1  px-4 block border-solid border-2 border-gray-300
      shadow-sm hover:shadow-md  focus:shadow-lg focus:shadow-primary-200 text-gray-400 rounded-lg 
    transition-all duration-300 ease-out focus:border-primary-500 focus:ring-primary-500
     text-[0.85rem] sm:text-[1rem];
  }

  .animationImg {
    position: relative;
    animation-name: example;
    animation-duration: 5s;
    animation-direction: alternate-reverse;
    /* animation-delay: -1s; */
    /* animation-iteration-count: 2; */
  }
  @keyframes example {
    0% {
      left: 0px;
      top: 0px;
    }
    50% {
      left: 200px;
      top: 0px;
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Vazir";
  min-height: 500vh;
  user-select: none;
  background-color: rgb(var(--background-app-rgb));
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: none; */
  outline: none;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
  outline: none;
}

label {
  display: block;
}
